<p>
	<strong>Perfume</strong>
	<%= @sale.perfume_name %>
</p>

<p>
	<strong>Produto entregue ao cliente:</strong>
	<%= @sale.delivered_product %>
</p>

<p>
	<strong>O cliente jรก pagou:</strong>
	<%= @sale.money_received %>
</p>